# Впиши сюда реальный путь. В Windows используй двойные слеши (\\) или одинарные прямые (/)
ORION_SCRIPTS_PATH=C:/Games/Ultima Online/OA/scripts/
TG_BOT_TOKEN=botXXXXXXXXX:YYYYYYYYYYYYYYY
TG_CHAT_ID=@your_chat_id
TG_THREAD_ID=1234